.normaaliPaino {
  color:rgb(31, 70, 31);
  background-color: rgb(56, 243, 56);
  padding: 10px;
  width:fit-content;
}

.sairaalloinenPaino {
  color: rgb(70, 5, 5);
  background-color: red;
  padding: 10px;
  width:fit-content;
}

.merkittavaPaino {
  color: rgb(184, 129, 12);
  background-color: yellow;
  padding: 10px;
  width:fit-content;
}

.lievaPaino {
  color: rgb(126, 71, 0);
  background-color: rgb(247, 247, 171);
  padding: 10px;
  width:fit-content;
}